20130512/FamilyPortal/Service References/FamilyServiceReference/FamilyService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7911/FamilyService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FamilyPortal.Data" />
  <xs:import schemaLocation="http://localhost:7911/FamilyService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:import schemaLocation="http://localhost:7911/FamilyService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/FamilyPortal.Common" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DoWorkResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSessionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSession">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSessionResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserInfoByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserInfoByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FamilyPortal.Data" minOccurs="0" name="GetUserInfoByIDResult" nillable="true" type="q1:UserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserInfoByAccountAndPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="account" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserInfoByAccountAndPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FamilyPortal.Data" minOccurs="0" name="GetUserInfoByAccountAndPasswordResult" nillable="true" type="q2:UserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUserInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUserInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/FamilyPortal.Data" minOccurs="0" name="GetAllUserInfoResult" nillable="true" type="q3:ArrayOfUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllConsumeType">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllConsumeTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/FamilyPortal.Data" minOccurs="0" name="GetAllConsumeTypeResult" nillable="true" type="q4:ArrayOfConsumeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConsumeTypeById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="typeID" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConsumeTypeByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/FamilyPortal.Data" minOccurs="0" name="GetConsumeTypeByIdResult" nillable="true" type="q5:ConsumeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConsumeByTypeID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="typeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConsumeByTypeIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/FamilyPortal.Data" minOccurs="0" name="GetConsumeByTypeIDResult" nillable="true" type="q6:ArrayOfConsume" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteConsumeByDailyID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dailyID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteConsumeByDailyIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteConsumeByDailyIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConsumeByDailyID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dailyID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConsumeByDailyIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/FamilyPortal.Data" minOccurs="0" name="GetConsumeByDailyIDResult" nillable="true" type="q7:ArrayOfConsume" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConsumeByDailyIDs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="dailyConsumeIDs" nillable="true" type="q8:ArrayOfNullableOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConsumeByDailyIDsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/FamilyPortal.Common" minOccurs="0" name="GetConsumeByDailyIDsResult" nillable="true" type="q9:ArrayOfNewConsume" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchAddConsumes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/FamilyPortal.Data" minOccurs="0" name="items" nillable="true" type="q10:ArrayOfConsume" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchAddConsumesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BatchAddConsumesResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOneDailyConsume">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/FamilyPortal.Data" minOccurs="0" name="item" nillable="true" type="q11:DailyConsume" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOneDailyConsumeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddOneDailyConsumeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDailyConsumeByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dailyID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDailyConsumeByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteDailyConsumeByIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDailyConsume">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/FamilyPortal.Data" minOccurs="0" name="model" nillable="true" type="q12:DailyConsume" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDailyConsumeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateDailyConsumeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDailyConsume">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDailyConsumeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/FamilyPortal.Data" minOccurs="0" name="GetDailyConsumeResult" nillable="true" type="q13:ArrayOfDailyConsume" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDailyConsumeByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dailyID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDailyConsumeByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/FamilyPortal.Data" minOccurs="0" name="GetDailyConsumeByIDResult" nillable="true" type="q14:DailyConsume" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTheDailyConsumeByDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTheDailyConsumeByDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/FamilyPortal.Data" minOccurs="0" name="GetTheDailyConsumeByDateResult" nillable="true" type="q15:DailyConsume" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParaDetailByInfoID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="infoID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParaDetailByInfoIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/FamilyPortal.Data" minOccurs="0" name="GetParaDetailByInfoIDResult" nillable="true" type="q16:ArrayOfParaDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBankCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/FamilyPortal.Data" minOccurs="0" name="item" nillable="true" type="q17:BankCard" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBankCardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddBankCardResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBankCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/FamilyPortal.Data" minOccurs="0" name="model" nillable="true" type="q18:BankCard" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBankCardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateBankCardResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBackCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/FamilyPortal.Common" minOccurs="0" name="item" nillable="true" type="q19:NewBankCard" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBackCardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/FamilyPortal.Common" minOccurs="0" name="GetBackCardResult" nillable="true" type="q20:ArrayOfNewBankCard" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsTest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsTestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsTestResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>